.container{
    background-color: rgb(90, 181, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 400px;
    height: 400px;
    background-color: white;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
}

.container h1{
    text-align: center;
    color: rgb(95, 95, 95);
    font-size: 35px;
}

form label{
    font-size: larger;
}

form input{
    background-color: rgb(235, 235, 235);
    height: 35px;
    width: 250px;
    border-color: transparent;
    color: rgb(99, 99, 99);
}

form input::placeholder{
    font-size: 15px;
    padding-left: 10px;
}

form input:focus{
    padding-left: 10px;
    padding-right: 10px;
}

@media all and (max-width: 600px) {
    .card{
        width: 300px;
        height: 400px;
        background-color: white;    
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 35px;
    }

    form input{
        background-color: rgb(235, 235, 235);
        height: 35px;
        width: 200px;
        border-color: transparent;
        color: rgb(99, 99, 99);
    }
}